<!-- <button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="addItems()">Add rows</button>
<button (click)="removeItems()">Remove</button>

<ag-grid-angular
    #agGrid
    style="width: 750px; height: 500px;"    
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    [rowData]="rowData | async"
    
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [animateRows]="true"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    

    [rowClassRules]="rowClassRules"
>
</ag-grid-angular>

<button (click)="updateRow()">Row Update</button>
<button (click)="upadateCell()">Cell Update</button>
<button (click)="updateAllRow()">All Row Update</button>
<button (click)="clear()">clear</button> -->

<app-multiselect></app-multiselect>

<!-- <app-auto-complete></app-auto-complete> -->

<!-- <app-custom-pagination></app-custom-pagination> -->
<!-- <app-server-side-pagination></app-server-side-pagination> -->